@use '../base/vars' as vars;
@use '../base/mixins' as mixins;
@use '../base/offer_vars' as offer_vars;
@use '../base/offer_mixins' as offer_mixins;


%subtitle{
    font-weight: 700;
    font-size: 1.2rem;
}


// INFO DATES

.info_dates{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    line-height: 1.5;

    .info{
        @include offer_mixins.content_block(1em);
        flex-basis: offer_vars.$block_width_decs;

        .info_title{
            @extend %subtitle;
        }

        .info_stats{
            padding-left: 1em;
        }
    }

    .dates{
        @include offer_mixins.content_block(1em);
        flex-basis: offer_vars.$block_width_decs;

        .dates_title{
            @extend %subtitle;
        }

        .calendar{
            display: block;
            width: 100%;
        }

    }

    @include mixins.device(tablet){
        flex-direction: column;
        align-items: center;
        gap: offer_vars.$blocks_indent;

        .info{
            flex-basis: auto;
            width: 100%;
            max-width: offer_vars.$block_width_tab;
        }

        .dates{
            flex-basis: auto;
            width: 100%;
            max-width: offer_vars.$block_width_tab;
        }
    }

    @include mixins.device(mobile){
        .info{
            max-width: offer_vars.$block_width_mob;
        }

        .dates{
            max-width: offer_vars.$block_width_mob;
        }
    }
}


// BOOK

.book{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    box-shadow: vars.$shadow;
    margin: 0 auto;
    gap: 2em;
    font-size: 1rem;
    padding: offer_vars.$block_padding 3em;

    @include mixins.device(mobile){
        padding: offer_vars.$block_padding;
    }

    .book_fields{
        display: flex;
        flex-direction: column;
        gap: 1.5em;
    }

    .book_btn{
        @include mixins.button(100%, fit-content, #000,  #FFF, #FFFFFF, vars.$pink_color);
    }
}

.book_field{
    font-size: 1rem;
    display: flex;
    align-items: center;

    @include mixins.device(mobile){
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5em;
    }

    .field_name{
        min-width: 10em;

        i{
            font-size: 0.9em;
            cursor: pointer;
        }

        @include mixins.device(mobile){
            min-width: auto;
        }
    }

    .book_select{
        display: flex;
        gap: 0.5em;
        width: 100%;
        flex-wrap: wrap;

        .book_input{
            font-size: 1em;
            padding: 1px 5px;
        }

        .book_input__name{
            width: 100%;
        }

        .book_input__phone{
            width: 9em;
        }

        .loggin_req{
            font-style: italic;
        }

        .book_input__bonus{
            width: 10.5em;
        }
        

        .field_subname{
            min-width: 1.5em;
            display: inline-block;
        }

        .book_subfield{
            display: flex;
            align-items: center;
        }

    }
}