@use '../base/vars' as vars;
@use '../base/mixins' as mixins;

.slider{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
    margin: 0 auto;
    margin-top: 1em;

    .slider_item{
        content: "";
        border: 2px solid vars.$pink_color;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        cursor: pointer;
    }
    
    .slider_item__active{
        background-color: vars.$pink_color;
    }
}

