.card{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 1rem;
}

.card_inner{
    box-shadow: 0 0 60px -20px rgba(0,0,0,0.5);
    cursor: pointer;
    text-align: center;
}

.card_img{
    display: block;
    width: 100%;
    border-radius: 5px 5px 0 0;
    opacity: 0.85;
}

.card_inner:hover .card_img{
    opacity: 1;
}

.card_info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 1em;
    gap: 1em;
}

.card_info_title{
    font-weight: 700;
    font-size: 1.2em;
}

.card_info_text{
    flex-wrap: 400;
    text-align: center;
}

.card_info_btn{
    font-size: 1.1em;
    display: inline;
    padding: 0.5em 0;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: background-color 0.15s linear, color 0.15s linear;
    border-color: #E72574;
    border-radius: 5px;
}

.card_info_btn:hover{
    background-color: #E72574;
    color: #FFFFFF;
}

.card_info_price_money{
    font-weight: 700;
}