html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

.container {
  width: 100%;
  max-width: 75%;
  margin: 0 auto;
}
@media screen and (max-width: 1279px) {
  .container {
    max-width: 90%;
  }
}

.section {
  padding-top: 9rem;
}
@media screen and (max-width: 1279px) {
  .section {
    padding-top: 7rem;
  }
}
@media screen and (max-width: 767px) {
  .section {
    padding-top: 6rem;
  }
}
.section .section_title, .section .section_subtitle {
  font-size: 1.6rem;
  text-align: center;
  font-weight: 500;
  position: relative;
}
.section .section_title::after, .section .section_subtitle::after {
  width: 50%;
  height: 1px;
  background-color: #000;
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translate(-50%, 0);
  content: "";
}
.section .section_title {
  margin-bottom: 3em;
}
@media screen and (max-width: 1279px) {
  .section .section_title {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 767px) {
  .section .section_title {
    font-size: 1.3rem;
  }
}

body {
  font-family: "Roboto", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 1.2rem;
}
@media screen and (max-width: 1279px) {
  html {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 767px) {
  html {
    font-size: 1rem;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

.header {
  font-size: 1rem;
  color: #FFF;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  transition: background-color 0.15s linear;
}
.header:hover {
  background-color: #000000;
}

.header_burger {
  display: none;
}
@media screen and (max-width: 1279px) {
  .header_burger {
    display: block;
    height: 22px;
    width: 40px;
    border-top: 2px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    position: relative;
    cursor: pointer;
  }
  .header_burger::after {
    content: "";
    width: 40px;
    height: 2px;
    background-color: #FFFFFF;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
  }
}

.header_inner {
  display: flex;
  flex-direction: column;
}

.header_upper {
  display: flex;
  justify-content: space-between;
  min-height: 1.5em;
  align-items: center;
  position: relative;
}
.header_upper::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #FFF;
  display: block;
  margin-top: 5px;
  position: absolute;
  bottom: -4px;
  left: 0;
}
@media screen and (max-width: 1279px) {
  .header_upper {
    display: none;
  }
}
.header_upper .header_upper_section {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  font-size: 0.8em;
}
.header_upper .header_upper_section_socials {
  gap: 1em;
}

.header_under {
  display: flex;
  justify-content: space-between;
  min-height: 2.5em;
  align-items: center;
}
.header_under .header_logo {
  font-family: "Josefin Sans", sans-serif;
}
.header_under .header_menu {
  display: flex;
  gap: 2em;
}
@media screen and (max-width: 1279px) {
  .header_under .header_menu {
    display: none;
  }
}
.header_under .header_menu .header_menu_item__active::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #FFF;
  display: block;
  margin-top: 5px;
}

.header_link {
  text-decoration: none;
  color: #FFF;
  transition: color 0.15s linear;
}
.header_link:hover {
  color: #E72574;
}

.footer {
  font-size: 1rem;
  margin-top: 5rem;
  padding: 2em 0;
  background-color: #000;
  color: #FFF;
  line-height: 1.5em;
}

.footer_inner {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}
@media screen and (max-width: 767px) {
  .footer_inner {
    flex-direction: column;
    justify-content: space-between;
    gap: 3em;
  }
}

.footer_section {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.footer_section .footer_title {
  font-size: 1.5em;
  font-weight: 700;
  position: relative;
  padding-bottom: 0.5em;
  font-family: "Josefin Sans", sans-serif;
}
.footer_section .footer_title::after {
  content: "";
  background-color: #FFF;
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
.footer_section .footer_text {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.footer_section .footer_book_btn {
  font-size: 1.1em;
  display: inline;
  background-color: #E72574;
  border-color: #FFF;
  color: #FFF;
  padding: 0.5em 0.5em;
  cursor: pointer;
  transition: background-color 0.15s linear, color 0.15s linear;
  border-radius: 5px;
  width: 100%;
  border-color: transparent;
}
.footer_section .footer_book_btn:hover {
  background-color: #FFF;
  border-color: #E72574;
  color: #E72574;
}

@media screen and (max-width: 767px) {
  .footer_section__menu {
    width: 100%;
    max-width: 100%;
  }
}
.footer_section__menu .footer_menu_inner {
  display: flex;
  justify-content: space-between;
  gap: 3em;
}
.footer_section__menu .footer_menu_inner .footer_menu_column {
  display: flex;
  flex-direction: column;
}

.footer_section__socials {
  max-width: 30%;
}
@media screen and (max-width: 767px) {
  .footer_section__socials {
    width: 100%;
    max-width: 100%;
  }
}
.footer_section__socials .footer_socials_inner {
  display: flex;
  gap: 2em;
}

.footer_section__info {
  max-width: 30%;
}
@media screen and (max-width: 767px) {
  .footer_section__info {
    width: 100%;
    max-width: 100%;
  }
}

.footer_link {
  text-decoration: none;
  color: #FFF;
  transition: color 0.15s linear;
}
.footer_link:hover {
  color: #E72574;
}

.recomendations {
  display: flex;
  justify-content: space-around;
}
.recomendations .recomendations_item {
  flex-basis: 30%;
}
.recomendations .recomendations_item .slider {
  display: none;
}
@media screen and (max-width: 1279px) {
  .recomendations .recomendations_item .slider {
    display: flex;
  }
}
@media screen and (max-width: 1279px) {
  .recomendations .recomendations_item {
    justify-content: center;
    display: none;
  }
  .recomendations .recomendations_item:first-child {
    display: flex;
    flex-basis: 60%;
  }
}
@media screen and (max-width: 767px) {
  .recomendations .recomendations_item:first-child {
    flex-basis: 100%;
    z-index: 1;
  }
}

.card {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}
.card .card_inner {
  box-shadow: 0 0 60px -20px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-align: center;
}
.card .card_inner .card_img {
  display: block;
  width: 100%;
  border-radius: 5px 5px 0 0;
  opacity: 0.85;
}
.card .card_inner:hover .card_img {
  opacity: 1;
}
.card .card_inner .card_info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em 1em;
  gap: 1em;
}
.card .card_inner .card_info .card_info_title {
  font-weight: 700;
  font-size: 1.2em;
}
.card .card_inner .card_info .card_info_text {
  flex-wrap: 400;
  text-align: center;
}
.card .card_inner .card_info .card_info_text .card_info_highlighted {
  font-weight: 700;
}
.card .card_inner .card_info .card_info_btn {
  font-size: 1.1em;
  display: inline;
  background-color: #fff;
  border-color: #000;
  color: #000;
  padding: 0.5em 0.5em;
  cursor: pointer;
  transition: background-color 0.15s linear, color 0.15s linear;
  border-radius: 5px;
  width: 100%;
}
.card .card_inner .card_info .card_info_btn:hover {
  background-color: #E72574;
  border-color: #fff;
  color: #fff;
}

.sales {
  width: 100%;
  max-width: 60%;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .sales {
    max-width: 100%;
  }
}

.slider {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2em;
  margin: 0 auto;
  margin-top: 1em;
}
.slider .slider_item {
  content: "";
  border: 2px solid #E72574;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
}
.slider .slider_item__active {
  background-color: #E72574;
}

.map {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1rem;
  margin: 0 auto;
  box-shadow: 0 0 60px -20px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.map .map_img {
  display: block;
  width: 100%;
  border-radius: 5px 5px 0 0;
  height: 60vh;
}
.map .map_info {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  line-height: 1.2;
}

.call {
  display: flex;
  justify-content: space-around;
  font-size: 1.7rem;
  gap: 1.5em;
  width: 35%;
  margin: 0 auto;
  align-items: center;
}
@media screen and (max-width: 1279px) {
  .call {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 767px) {
  .call {
    font-size: 1.3rem;
    gap: 1em;
  }
}
.call .call_input {
  font-size: 1em;
  text-align: center;
  width: 10em;
  border-radius: 5px;
  border-color: #E72574;
  padding: 0.3em 0;
}
.call .fa-phone {
  font-size: 1em;
  color: #FFFFFF;
  background-color: #E72574;
  padding: 0.5em;
  border-radius: 50%;
  cursor: pointer;
  transition: color 0.15s linear;
}
.call .fa-phone:hover {
  color: #000;
}

/* INTRO */
.intro {
  width: 100%;
  min-height: 100vh;
  background: url("../img/main/intro.png") no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
@media screen and (max-width: 1279px) {
  .intro {
    background-position: right;
  }
}
.intro .intro_inner {
  width: 100%;
  margin: 0 auto;
  height: 12em;
  padding: 0 2em;
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  text-align: center;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: 1.4;
  border-radius: 5px;
}
@media screen and (max-width: 1279px) {
  .intro .intro_inner {
    font-size: 1.7rem;
    height: 12em;
  }
}
@media screen and (max-width: 767px) {
  .intro .intro_inner {
    padding: 0 1em;
    height: 15em;
    font-size: 1.4rem;
  }
}
.intro .intro_inner .intro_title {
  font-weight: 700;
  font-size: 1.2em;
  font-family: "Josefin Sans", sans-serif;
}
.intro .intro_inner .intro_subtitle {
  font-weight: 700;
}
.intro .intro_inner .intro_contacts .intro_contacts_text {
  font-size: 0.8em;
}
.intro .intro_inner .intro_contacts .intro_contacts_text__phone {
  margin-top: 0.5em;
}
.intro .intro_inner .intro_contacts .intro_link {
  text-decoration: none;
  color: #fff;
  transition: color 0.15s linear;
}
.intro .intro_inner .intro_contacts .intro_link:hover {
  color: #E72574;
}
.intro .find_rooms {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 75%;
  background-color: #FFFFFF;
  font-size: 1rem;
  border-radius: 5px;
  align-items: center;
  height: 6em;
  bottom: -3em;
  left: 50%;
  transform: translate(-50%, 0);
  border: 1px solid #000000;
  box-shadow: 0 0 60px -20px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 1279px) {
  .intro .find_rooms {
    max-width: 80%;
  }
}
@media screen and (max-width: 767px) {
  .intro .find_rooms {
    flex-direction: column;
    justify-content: space-around;
    height: 18em;
    bottom: -9em;
    width: 100%;
  }
}
.intro .find_rooms .find_rooms_line {
  content: "";
  height: 70%;
  width: 1px;
  background-color: #E72574;
}
@media screen and (max-width: 767px) {
  .intro .find_rooms .find_rooms_line {
    height: 1px;
    width: 90%;
  }
}
.intro .find_rooms .find_rooms_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  position: relative;
}
.intro .find_rooms .find_rooms_section .fa-calendar, .intro .find_rooms .find_rooms_section .fa-person {
  font-size: 1.1em;
}
.intro .find_rooms .find_rooms_section .calendar-start {
  color: #9F8CFF;
}
.intro .find_rooms .find_rooms_section .calendar-end {
  color: #FF5A73;
}
.intro .find_rooms .find_rooms_section .fa-person {
  color: #FFD20A;
}
.intro .find_rooms .find_rooms_section .find_rooms_info {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
@media screen and (max-width: 767px) {
  .intro .find_rooms .find_rooms_section .find_rooms_info {
    display: flex;
    justify-content: space-between;
    gap: 0.5em;
    flex-direction: row;
    align-items: center;
  }
}
.intro .find_rooms .find_rooms_section .find_rooms_info .find_rooms_title {
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
}
.intro .find_rooms .find_rooms_section .find_rooms_info .find_rooms_input {
  display: inline-block;
  cursor: pointer;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  border: none;
  padding: 0;
  color: #E72574;
}
.intro .find_rooms .find_rooms_section .find_rooms_info .find_rooms_input__date {
  max-width: 7em;
}
.intro .find_rooms .find_rooms_btn {
  font-size: 1.1em;
  display: inline;
  background-color: #fff;
  border-color: #000;
  color: #000;
  padding: 0.8em 0.5em;
  cursor: pointer;
  transition: background-color 0.15s linear, color 0.15s linear;
  border-radius: 5px;
  width: 6em;
}
.intro .find_rooms .find_rooms_btn:hover {
  background-color: #E72574;
  border-color: #fff;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .intro .find_rooms .find_rooms_btn {
    width: 90%;
  }
}

/* ABOUT US */
.about_us {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  font-size: 1rem;
  flex-wrap: wrap;
}
@media screen and (max-width: 1279px) {
  .about_us {
    max-width: 100%;
    flex-direction: column-reverse;
    align-items: center;
    gap: 1em;
  }
}
@media screen and (max-width: 767px) {
  .about_us {
    margin-top: 10em;
    max-width: 80%;
    border-radius: 5px;
    gap: 0;
  }
}
.about_us .about_us_img {
  display: block;
  border-radius: 5px;
  width: 100%;
  max-width: 50%;
  box-shadow: 0 0 60px -20px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 767px) {
  .about_us .about_us_img {
    max-width: 100%;
  }
}
.about_us .about_us_info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 40%;
}
@media screen and (max-width: 1279px) {
  .about_us .about_us_info {
    gap: 2em;
  }
}
@media screen and (max-width: 767px) {
  .about_us .about_us_info {
    padding: 1em 0;
    max-width: 100%;
  }
}
.about_us .about_us_info .about_us_text {
  line-height: 1.4;
}

/* WHY US */
.why_us_wrapper {
  background: url("../img/main/why_is.png") no-repeat center;
  background-size: cover;
}

.why_us {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.8);
  width: 35%;
  gap: 3em;
  font-size: 1rem;
  padding: 2em 2em;
  box-shadow: 0 0 60px -20px rgba(0, 0, 0, 0.5);
  margin-left: auto;
  margin-right: 0;
}
@media screen and (max-width: 1279px) {
  .why_us {
    margin: 0 auto;
    width: 50%;
    padding: 2em 1em;
  }
}
@media screen and (max-width: 767px) {
  .why_us {
    margin: 0 auto;
    width: 80%;
  }
}
.why_us .why_us_info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1.5em;
}
.why_us .why_us_info .why_us_item {
  display: flex;
  gap: 1.5em;
  line-height: 1.2;
  align-items: center;
}
.why_us .why_us_info .why_us_item i {
  font-size: 1.3em;
  background-color: #D5DBC4;
  border-radius: 50%;
  padding: 0.5em;
  color: #E72574;
  border: 1px solid #E72574;
}
.why_us .why_us_info .why_us_item .why_us_text {
  color: #000;
  font-size: 1em;
}/*# sourceMappingURL=main.css.map */