html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

.header {
  font-size: 1rem;
  color: #FFFFFF;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  transition: background-color 0.15s linear;
}

.header:hover {
  background-color: #000000;
}

.header_burger {
  display: none;
}

@media screen and (max-width: 1279px) {
  .header_burger {
    display: block;
    height: 22px;
    width: 40px;
    border-top: 2px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    position: relative;
    cursor: pointer;
  }
  .header_burger:after {
    content: "";
    width: 40px;
    height: 2px;
    background-color: #FFFFFF;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
  }
}
.header_inner {
  display: flex;
  flex-direction: column;
}

.header_upper {
  display: flex;
  justify-content: space-between;
  min-height: 1.5em;
  align-items: center;
  border-bottom: 1px solid #FFFFFF;
}

@media screen and (max-width: 1279px) {
  .header_upper {
    display: none;
  }
}
.header_upper_section {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  font-size: 0.8em;
}

.header_upper_section_socials {
  gap: 1em;
}

.header_under {
  display: flex;
  justify-content: space-between;
  min-height: 2.5em;
  align-items: center;
}

.header_logo {
  font-family: "Josefin Sans", sans-serif;
}

.header_link {
  text-decoration: none;
  color: #FFFFFF;
}

.header_link:hover {
  color: #E72574;
  transition: color 0.15s linear;
}

.header_menu {
  display: flex;
  gap: 2em;
}

@media screen and (max-width: 1279px) {
  .header_menu {
    display: none;
  }
}
.header_menu_item__active:after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #FFFFFF;
  display: block;
  margin-top: 5px;
}

.header_menu_item, .header_link .fa-brands:hover {
  transition: color 0.15s linear;
}

.header_menu_item__active:hover {
  color: #FFFFFF;
}

.footer {
  font-size: 1rem;
  margin-top: 5rem;
  padding: 2em 0;
  background-color: #000000;
  color: #FFFFFF;
  line-height: 1.5em;
}

.footer_content {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .footer_content {
    flex-direction: column;
    justify-content: space-between;
    gap: 3em;
  }
}
.footer_section {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.footer_title {
  font-size: 1.5em;
  font-weight: 700;
  position: relative;
  padding-bottom: 0.5em;
  font-family: "Josefin Sans", sans-serif;
}

.footer_text {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.footer_title:after {
  content: "";
  background-color: #FFFFFF;
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.footer_info, .footer_socials {
  max-width: 30%;
}

@media screen and (max-width: 767px) {
  .footer_info, .footer_socials, .footer_menu {
    width: 100%;
    max-width: 100%;
  }
}
.footer_book_btn {
  font-size: 1em;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #E72574;
  color: #FFFFFF;
  padding: 1em 0.5em;
  border-radius: 5px;
  text-align: center;
  transition: color 0.15s linear, background-color 0.15s linear;
}

@media screen and (max-width: 767px) {
  .footer_book_btn {
    /*max-width: 40%;*/
  }
}
.footer_book_btn:hover {
  background-color: #FFFFFF;
  color: #E72574;
}

.footer_menu_inner {
  display: flex;
  justify-content: space-between;
  gap: 3em;
}

@media screen and (max-width: 767px) {
  .footer_menu_inner {
    /*max-width: 40%;*/
    /*gap: 0;*/
  }
}
.footer_menu_column {
  display: flex;
  flex-direction: column;
}

.footer_link {
  text-decoration: none;
  color: #FFFFFF;
  transition: color 0.15s linear;
}

.footer_link:hover {
  color: #E72574;
}

.footer_menu_link, .footer_socials_link {
  transition: color 0.15s linear;
}

.footer_socials_inner {
  display: flex;
  gap: 2em;
}

.footer_socials_link {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1.5em;
}

.container {
  width: 100%;
  max-width: 75%;
  margin: 0 auto;
}

@media screen and (max-width: 1279px) {
  .container {
    max-width: 90%;
  }
}
.section {
  padding-top: 10rem;
}

@media screen and (max-width: 1279px) {
  .section {
    padding-top: 8rem;
  }
}
@media screen and (max-width: 767px) {
  .section {
    padding-top: 7rem;
  }
}
.section_title, .section_subtitle {
  font-size: 1.6rem;
  text-align: center;
  font-weight: 500;
  position: relative;
}

.section_title {
  margin-bottom: 3em;
}

.section_title:after, .section_subtitle:after {
  width: 50%;
  height: 1px;
  background-color: #000000;
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translate(-50%, 0);
  content: "";
}

@media screen and (max-width: 1279px) {
  .section_title {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 767px) {
  .section_title {
    font-size: 1.3rem;
  }
}
html {
  box-sizing: border-box;
  font-size: 1.2rem;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@media screen and (max-width: 1279px) {
  html {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 767px) {
  html {
    font-size: 1rem;
  }
}
body {
  font-family: "Roboto", sans-serif;
}

.slider {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2em;
  margin: 0 auto;
  margin-top: 1em;
}

.slider_item {
  content: "";
  border: 2px solid #E72574;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
}

.slider_item_active {
  background-color: #E72574;
}

.breadcrumbs .breadcrumbs_item {
  text-decoration: none;
  color: #000;
}
.breadcrumbs .breadcrumbs_item:hover {
  color: #E72574;
}

.info_dates .dates .dates_title, .info_dates .info .info_title, .photos_description .description .description_title {
  font-weight: 700;
  font-size: 1.2rem;
}

.breadcrumbs {
  display: flex;
  gap: 1em;
  margin-bottom: 2em;
  white-space: nowrap;
  overflow: scroll;
  box-shadow: 0 0 60px -20px rgba(0, 0, 0, 0.5);
}
.breadcrumbs::-webkit-scrollbar {
  display: none;
}
.breadcrumbs .breadcrumbs_item {
  font-size: 0.9em;
}

.offer {
  display: flex;
  flex-direction: column;
  gap: 5em;
}

.photos_description {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}
.photos_description .photos {
  display: flex;
  flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  flex-basis: 45%;
}
.photos_description .photos .photos_img {
  box-shadow: 0 0 60px -20px rgba(0, 0, 0, 0.5);
  display: block;
  width: 100%;
  border-radius: 5px;
}
.photos_description .description {
  box-shadow: 0 0 60px -20px rgba(0, 0, 0, 0.5);
  padding: 1em;
  display: flex;
  flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 5px;
  gap: 2em;
  flex-basis: 45%;
}
.photos_description .description .description_title {
  margin-bottom: 1em;
}
.photos_description .description .description_text {
  line-height: 1.5;
}
.photos_description .description .description_book {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  gap: 1em;
}
.photos_description .description .description_book .description_prices {
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  flex-basis: 50%;
}
.photos_description .description .description_book .description_prices .price_money {
  font-weight: 700;
}
.photos_description .description .description_book .book_link {
  flex-basis: 50%;
  text-decoration: none;
  height: 100%;
}
.photos_description .description .description_book .book_link .button_btn {
  font-size: 1.1em;
  display: inline;
  background-color: rgba(0, 0, 0, 0);
  padding: 0.5em 0;
  cursor: pointer;
  transition: background-color 0.15s linear, color 0.15s linear;
  border-color: #E72574;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.photos_description .description .description_book .book_link .button_btn:hover {
  background-color: #E72574;
  color: #FFFFFF;
}
@media screen and (max-width: 1279px) {
  .photos_description {
    flex-direction: column;
    align-items: center;
    gap: 5em;
  }
  .photos_description .photos {
    flex-basis: auto;
    width: 100%;
    max-width: 60%;
  }
  .photos_description .description {
    flex-basis: auto;
    width: 100%;
    max-width: 60%;
  }
}
@media screen and (max-width: 767px) {
  .photos_description .photos {
    max-width: 100%;
  }
  .photos_description .description {
    max-width: 100%;
  }
}

.info_dates {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  line-height: 1.5;
}
.info_dates .info {
  box-shadow: 0 0 60px -20px rgba(0, 0, 0, 0.5);
  padding: 1em;
  display: flex;
  flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 5px;
  gap: 1em;
  flex-basis: 45%;
}
.info_dates .info .info_stats {
  padding-left: 1em;
}
.info_dates .dates {
  box-shadow: 0 0 60px -20px rgba(0, 0, 0, 0.5);
  padding: 1em;
  display: flex;
  flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 5px;
  gap: 1em;
  flex-basis: 45%;
}
.info_dates .dates .calendar {
  display: block;
  width: 100%;
}
@media screen and (max-width: 1279px) {
  .info_dates {
    flex-direction: column;
    align-items: center;
    gap: 5em;
  }
  .info_dates .info {
    flex-basis: auto;
    width: 100%;
    max-width: 60%;
  }
  .info_dates .dates {
    flex-basis: auto;
    width: 100%;
    max-width: 60%;
  }
}
@media screen and (max-width: 767px) {
  .info_dates .info {
    max-width: 100%;
  }
  .info_dates .dates {
    max-width: 100%;
  }
}/*# sourceMappingURL=offer.css.map */