.slider{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
    margin: 0 auto;
    margin-top: 1em;
}

.slider_item{
    content: "";
    border: 2px solid #E72574;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;
}

.slider_item_active{
    background-color: #E72574;
}