@import '../css/reset', '../css/header', '../css/footer', '../css/general', '../css/slider', '../css/sales', '../css/card', '../css/recomendations';

$main_color: #E72574;
$radius: 5px;
$shadow: 0 0 60px -20px rgba(0,0,0,0.5);
$block_padding: 1em;
$block_width_decs: 45%;
$block_width_tab: 60%;
$block_width_mob: 100%;
$blocks_indent: 5em;

%link{
    text-decoration: none;
    color: #000;

    &:hover{
        color: $main_color;
    }
}

%subtitle{
    font-weight: 700;
    font-size: 1.2rem;
}

%tablet_block{
    flex-basis: auto;
    width: 100%;
    max-width: $block_width_tab;
}

@mixin content_block($gap){
    box-shadow: $shadow;
    padding: $block_padding;
    display: flex;
    flex-direction: column;
    height: fit-content;
    border-radius: $radius;
    gap: $gap;
}

@mixin book_button($width, $height) {
    font-size: 1.1em;
    display: inline;
    background-color: rgba(0, 0, 0, 0);
    padding: 0.5em 0;
    cursor: pointer;
    transition: background-color 0.15s linear, color 0.15s linear;
    border-color: #E72574;
    border-radius: 5px;
    width: $width;
    height: $height;

    &:hover{
        background-color: #E72574;
        color: #FFFFFF;
    }
}

@mixin device($breakpoint) {
    @if $breakpoint == tablet{
        @media screen and (max-width: 1279px) {
            @content;
        }
    }

    @if $breakpoint == mobile{
        @media screen and (max-width: 767px) {
            @content;
        }
    }
}


// BREADCRUMBS

.breadcrumbs{
    display: flex;
    gap: 1em;
    margin-bottom: 2em;
    white-space: nowrap;
    overflow: scroll;
    box-shadow: $shadow;

    &::-webkit-scrollbar {
        display: none;
      }

    .breadcrumbs_item{
        font-size: 0.9em;
        @extend %link;
    }
}


// OFFER

.offer{
    display: flex;
    flex-direction: column;
    gap: $blocks_indent;
}


// PHOTOS DESCRIPTION

.photos_description{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;

    .photos{
        display: flex;
        flex-direction: column;
        height: fit-content;

        flex-basis: $block_width_decs;
        .photos_img{
            box-shadow: $shadow;
            display: block;
            width: 100%;
            border-radius: $radius;
        }
    }
    .description{
        @include content_block(2em);
        flex-basis: $block_width_decs;

        .description_title{
            margin-bottom: 1em;
            @extend %subtitle;
        }

        .description_text{
            line-height: 1.5;
        }

        .description_book{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            position: relative;
            gap: 1em;

            .description_prices{
                font-size: 1.1em;
                display: flex;
                flex-direction: column;
                gap: 0.5em;
                flex-basis: 50%;

                .price_money{
                    font-weight: 700;
                }
            }

            .book_link{
                flex-basis: 50%;
                text-decoration: none;
                height: 100%;

                .button_btn{
                    @include book_button(100%, 100%)
                    // font-size: 1.1em;
                    // display: inline;
                    // background-color: rgba(0, 0, 0, 0);
                    // padding: 0.5em 0;
                    // cursor: pointer;
                    // transition: background-color 0.15s linear, color 0.15s linear;
                    // border-color: #E72574;
                    // border-radius: 5px;
                    // width: 100%;
                    // height: 100%;

                    // &:hover{
                    //     background-color: #E72574;
                    //     color: #FFFFFF;
                    // }
                }

            }
        }
    }

    @include device(tablet){
        flex-direction: column;
        align-items: center;
        gap: $blocks_indent;

        .photos{
            flex-basis: auto;
            width: 100%;
            max-width: $block_width_tab;
        }

        .description{
            flex-basis: auto;
            width: 100%;
            max-width: $block_width_tab;
        }
    }

    @include device(mobile){
        .photos{
            max-width: $block_width_mob;
        }

        .description{
            max-width: $block_width_mob;
        }
    }
}


// INFO DATES

.info_dates{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    // margin-top: 5em;
    line-height: 1.5;

    .info{
        @include content_block(1em);
        flex-basis: $block_width_decs;

        .info_title{
            @extend %subtitle;
        }

        .info_stats{
            padding-left: 1em;
        }
    }

    .dates{
        @include content_block(1em);
        flex-basis: $block_width_decs;

        .dates_title{
            @extend %subtitle;
        }

        .calendar{
            display: block;
            width: 100%;
        }

    }

    @include device(tablet){
        flex-direction: column;
        align-items: center;
        gap: $blocks_indent;

        .info{
            flex-basis: auto;
            width: 100%;
            max-width: $block_width_tab;
        }

        .dates{
            flex-basis: auto;
            width: 100%;
            max-width: $block_width_tab;
        }
    }

    @include device(mobile){
        .info{
            max-width: $block_width_mob;
        }

        .dates{
            max-width: $block_width_mob;
        }
    }
}


// BOOK

.book{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    box-shadow: $shadow;
    margin: 0 auto;
    gap: 2em;
    font-size: 1rem;
    padding: $block_padding 3em;

    @include device(mobile){
        padding: $block_padding;
    }

    .book_fields{
        display: flex;
        flex-direction: column;
        gap: 1.5em;
    }

    .book_btn{
        @include book_button(50%, fit-content);

        @include device(tablet){
            width: 100%;
        }
    }
}

.book_field{
    font-size: 1rem;
    display: flex;
    align-items: center;

    @include device(mobile){
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5em;
    }

    .field_name{
        min-width: 10em;

        i{
            font-size: 0.9em;
            cursor: pointer;
        }

        @include device(mobile){
            min-width: auto;
        }
    }

    .book_select{
        display: flex;
        gap: 0.5em;
        width: 100%;
        flex-wrap: wrap;

        .book_input{
            font-size: 1em;
            padding: 1px 5px;
        }

        .input_name{
            width: 100%;
        }

        .input_phone{
            width: 9em;
        }

        .loggin_req{
            font-style: italic;
        }

        .input_bonus{
            width: 10.5em;
        }
        

        .field_subname{
            min-width: 1.5em;
            display: inline-block;
        }

        .book_subfield{
            display: flex;
            align-items: center;
        }

    }
}
