@import '../css/reset', 'subelems/common_elems', 'subelems/header', 'subelems/footer', 'subelems/card', 'subelems/breadcrumbs', 'subelems/filter', 'subelems/catalog', 'subelems/pages';

.rooms{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}