@use '../utils/vars' as vars;
@use '../utils/mixins' as mixins; 

.card_short{
    border-radius: vars.$radius;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    //height: 25rem;

    .card_inner{
        box-shadow: vars.$shadow;
        cursor: pointer;
        text-align: center;

        .card_img{
            display: block;
            width: 100%;
            border-radius: 5px 5px 0 0;
            opacity: 0.85;
            pointer-events: none;
        }

        &:hover .card_img{
            opacity: 1;
        }

        .card_info{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 1em 1em;
            gap: 1em;

            .card_info_title{
                font-weight: 700;
                font-size: 1.2em;
                line-height: 1.2;
                text-overflow: ellipsis;
                display: block;
                height: 2.4em;
                overflow: hidden;
            }
            
            .card_info_text{
                flex-wrap: 400;
                text-align: center;
            }

            .card_button__long{
                @extend %button;
                width: 100%;
                color: #000;
                border-color: #000;
                background-color: #fff;
            }
        }
    }
}