$pink_color: #E72574;
$yellow_color: #FFD20A;
$yellow_light_color: #E2FFA0;
$red_color: #FF0914;
$grey_color: #00FFFF;
$header_color: rgba(0, 0, 0, 0.75);
$radius: 5px;
$shadow: 0 0 60px -20px rgba(0,0,0,0.5);
$base_font: 'Roboto', sans-serif;
$logo_font: 'Josefin Sans', sans-serif;
$base_button_paddings: 0.5em;
$block_padding: 1em;
$block_width_decs: 45%;
$block_width_tab: 60%;
$block_width_mob: 100%;
$blocks_indent: 5em;