@use '../utils/vars' as vars;
@use '../utils/mixins' as mixins; 

// INTRO 

.intro{
    width: 100%;
    min-height: 100vh;
    background: url("../../img/main/intro.webp") no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    @include mixins.device(tablet){
        background-position: right;
    }

    .intro_inner{
        width: 100%;
        margin: 0 auto;
        height: 12em;
        padding: 0 2em;
        background-color: rgba(0, 0, 0, 0.5);
        color: #FFFFFF;
        text-align: center;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        line-height: 1.4;
        border-radius: vars.$radius;

        @include mixins.device(tablet){
            font-size: 1.7rem;
            height: 12em;
        }

        @include mixins.device(mobile){
            padding: 0 1em;
            height: 15em;
            font-size: 1.4rem;
        }

        .intro_title{
            font-weight: 700;
            font-size: 1.2em;
            font-family: 'Josefin Sans', sans-serif;
        }
        
        .intro_subtitle{
            font-weight: 700;
        }

        .intro_contacts{
            
            .intro_contacts_text{
                font-size: 0.8em;
            }

            .intro_contacts_text__phone{
                margin-top: 0.5em;
            }

            .intro_link{
                @include mixins.link(#fff);
            }
        }
    }

    .find_rooms{
        position: absolute;
        display: flex;
        justify-content: space-around;
        width: 100%;
        max-width: 75%;
        background-color: #FFFFFF;
        font-size: 1rem;
        border-radius: vars.$radius;
        align-items: center;
        height: 6em;
        bottom: -3em;
        left: 50%;
        transform: translate(-50%, 0);
        border: 1px solid #000000;
        box-shadow: vars.$shadow;
        gap: 1em;
        padding: 0.5em;

        @include mixins.device(tablet){
            max-width: 80%;
        }

        @include mixins.device(mobile){
            flex-direction: column;
            justify-content: space-around;
            height: 18em;
            bottom: -9em;
            width: 100%;
            gap: 0;
        }

        .find_rooms_line{
            content: "";
            height: 70%;
            width: 1px;
            background-color: vars.$pink_color;

            @include mixins.device(mobile){
                height: 1px;
                width: 90%;
            }
        }

        .find_rooms_section{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1em;
            position: relative;

            .fa-calendar, .fa-person{
                font-size: 1.1em;
            }

            .calendar-start{
                color: #9F8CFF;
            }

            .calendar-end{
                color: #FF5A73;
            }

            .fa-person{
                color: #FFD20A;
            }

            .find_rooms_info{
                display: flex;
                flex-direction: column;
                gap: 0.5em;

                @include mixins.device(mobile){
                    display: flex;
                    justify-content: space-between;
                    gap: 0.5em;
                    flex-direction: row;
                    align-items: center;
                }

                .find_rooms_title{
                    text-transform: uppercase;
                    font-weight: 700;
                    color: #000;
                }

                .find_rooms_input{
                    display: inline-block;
                    cursor: pointer;
                    font-weight: 400;
                    font-family: 'Roboto', sans-serif;
                    font-size: 1em;
                    border: none;
                    padding: 0;
                    color: #E72574;
                }

                .find_rooms_input__date{
                    max-width: 7em;
                }
            }

            
        }

        .button__find{
            @extend %button;
            color: #000;
            background-color: #fff;
            border-color: #000;
            width: 7em;

            @include mixins.device(mobile){
                width: 90%;
            }
        }
    }
}


/* ABOUT US */

.about_us{
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    font-size: 1rem;
    flex-wrap: wrap;

    @include mixins.device(tablet){
        max-width: 100%;
        flex-direction: column-reverse;
        align-items: center;
        gap: 1em;
    }

    @include mixins.device(mobile){
        margin-top: 10em;
        max-width: 80%;
        border-radius: 5px;
        gap: 0;
    }

    .about_us_img{
        display: block;
        border-radius: vars.$radius;
        width: 100%;
        max-width: 50%;
        box-shadow: vars.$shadow;

        @include mixins.device(mobile){
            max-width: 100%;
        }
    }

    .about_us_info{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        max-width: 40%;

        @include mixins.device(tablet){
            gap: 2em;
        }

        @include mixins.device(mobile){
            padding: 1em 0;
            max-width: 100%;
        }

        .about_us_text{
            line-height: 1.4;
        }
    }

}


// WHY US 

.why_us_wrapper{
    background: url("../../img/main/why_is.webp") no-repeat center;
    background-size: cover;
}

.why_us{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.8);
    width: 35%;
    gap: 3em;
    font-size: 1rem;
    padding: 2em 2em;
    box-shadow: vars.$shadow;
    margin-left: auto;
    margin-right: 0;

    @include mixins.device(tablet){
        margin: 0 auto;
        width: 50%;
        padding: 2em 1em;
    }

    @include mixins.device(mobile){
        margin: 0 auto;
        width: 80%;
    }

    .why_us_info{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 1.5em;

        .why_us_item{
            display: flex;
            gap: 1.5em;
            line-height: 1.2;
            align-items: center;

            i{
                font-size: 1.3em;
                background-color: #D5DBC4;
                border-radius: 50%;
                padding: 0.5em;
                color: vars.$pink_color;
                border: 1px solid vars.$pink_color;
            }

            .why_us_text{
                color: #000;
                font-size: 1em;
            }
        }
    }
}