@use '../utils/vars' as vars;
@use '../utils/mixins' as mixins; 

.history_item{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;

    @include mixins.device(tablet){
        flex-direction: column;
        align-items: center;
        gap: vars.$blocks_indent;
    }
}