@use '../utils/vars' as vars;
@use '../utils/mixins' as mixins; 


.cart{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;

    @include mixins.device(tablet){
        flex-direction: column-reverse;
        gap: 5em;
    }
}

.cart_services{
    flex-basis: 65%;
}



.cart_info{
    flex-basis: 30%;
    box-shadow: vars.$shadow;
    height: fit-content;
    padding: 1em 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;

    @include mixins.device(tablet){
        flex-direction: row;
        justify-content: space-between;
    }

    @include mixins.device(mobile){
        flex-direction: column;
    }

    .cart_info_stats{
        display: flex;
        flex-direction: column;
        gap: 0.8em;
    }

    .button__pay{
        @extend %button;
        width: 100%;
        color: #000;
        border-color: #000;
        background-color: #fff;
        
        @include mixins.device(tablet){
            width: 30%;
        }

        @include mixins.device(mobile){
            width: 100%;
        }
    }
}