@use '../utils/vars' as vars;
@use '../utils/mixins' as mixins; 

.catalog{
    font-size: 1rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
}