@use '../utils/vars' as vars;
@use '../utils/mixins' as mixins; 


.fields{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: 100%;
}

.field_item{
    font-size: 1rem;
    display: flex;
    align-items: center;

    @include mixins.device(mobile){
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5em;
    }


    .field_content{
        display: flex;
        gap: 0.5em;
        width: 100%;
        flex-wrap: wrap;

        .field_subcontent{
            display: flex;
            align-items: center;
            gap: 0.5em;
        }

    }
}