@use '../utils/vars' as vars;
@use '../utils/mixins' as mixins; 


%subtitle{
    font-weight: 700;
    font-size: 1.2rem;
}


// INFO DATES

.info_dates{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    line-height: 1.5;

    .info{
        @include mixins.content_block(1em);
        flex-basis: vars.$block_width_decs;

        .info_title{
            @extend %subtitle;
        }

        .info_stats{
            padding-left: 1em;
        }
    }

    .dates{
        @include mixins.content_block(1em);
        flex-basis: vars.$block_width_decs;

        .dates_title{
            @extend %subtitle;
        }

        .calendar{
            display: block;
            width: 100%;
        }

    }

    @include mixins.device(tablet){
        flex-direction: column;
        align-items: center;
        gap: vars.$blocks_indent;

        .info{
            flex-basis: auto;
            width: 100%;
            max-width: vars.$block_width_tab;
        }

        .dates{
            flex-basis: auto;
            width: 100%;
            max-width: vars.$block_width_tab;
        }
    }

    @include mixins.device(mobile){
        .info{
            max-width: vars.$block_width_mob;
        }

        .dates{
            max-width: vars.$block_width_mob;
        }
    }
}
