@use '../utils/vars' as vars;
@use '../utils/mixins' as mixins; 

.card{
    border-radius: vars.$radius;
    display: flex;
    flex-direction: column;
    font-size: 1rem;

    .card_inner{
        box-shadow: vars.$shadow;
        cursor: pointer;
        text-align: center;

        .card_img{
            display: block;
            width: 100%;
            border-radius: 5px 5px 0 0;
            opacity: 0.85;
        }

        &:hover .card_img{
            opacity: 1;
        }

        .card_info{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 1em 1em;
            gap: 1em;

            .card_info_title{
                font-weight: 700;
                font-size: 1.2em;
            }
            
            .card_info_text{
                flex-wrap: 400;
                text-align: center;
            }

            .button__card{
                @extend %button;
                width: 100%;
                color: #000;
                border-color: #000;
                background-color: #fff;
            }
        }
    }
}