@use '../utils/vars' as vars;
@use '../utils/mixins' as mixins; 


.content_container{
    width: 100%;
    max-width: 75%;
    margin: 0 auto;

    @include mixins.device(tablet){
        max-width: 90%;
    }
} 