@use '../utils/vars' as vars;
@use '../utils/mixins' as mixins; 



// .slider{
//     min-width: 0;

//     .slick-track{
//         display: flex;
//         justify-content: space-around;
//         gap: 2em;
//         //max-width: 100%;
//         //overflow: hidden;

//         @include mixins.device(tablet){
//             gap: 0;

//         }
//     }

//     // .slick-slide{
//     //     padding: 30px;
//     // }

//     .slick-list{
//         overflow: hidden;
//         // margin: 0 -24px;
//         // padding: 24px;
//         // padding: 30px;

//         // margin: 0 -30px;
//     }

//     .slick-dots{
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         gap: 3em;
//         margin-top: 1em;
        

//         .slick-active button{
//             background-color: vars.$pink_color;
//         }

//         li{
//             list-style: none;

//             button{
//                 font-size: 0;
//                 content: "";
//                 display: block;
//                 padding: 0;
//                 margin: 0;
//                 border: 2px solid vars.$pink_color;
//                 width: 12px;
//                 height: 12px;
//                 border-radius: 50%;
//                 cursor: pointer;
//             }
//         }

        
//     }
// }





// .recomendations, .card_short, .recomendations_item{
//     min-width: 0;
// }


.slider{
    // display: flex;
    // justify-content: space-around;
    display: flex;
    align-items: center;
    gap: 2em;
    position: absolute;
    bottom: -2em;
    left: 50%;
    transform: translate(-50%, 0);
    
    .slider_item{
        content: "";
        border: 2px solid vars.$pink_color;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        cursor: pointer;
    }
    
    .slider_item__active{
        background-color: vars.$pink_color;
    }
}

.slider__hidden{
    display: none;

    @include mixins.device(tablet){
        display: flex;
    }
}

.slider_content{
    touch-action: none;
    
    @include mixins.device(tablet){
        display: none;
    }
}

.slider_content__big{
    display: none;
}

.slider_content__active{
    display: flex;
}

.tablet-slider-required{
    display: none;
    position: absolute;
    @include mixins.device(tablet){
        display: block;
    }
}

.always-slider-required{
    position: absolute;
}